// layouts
$maxContainerWidth: 75rem;

// theme colours
$main: $teal-6;
$secondary: $teal-9;
$background: $teal-1;
$inverse-bg: $teal-8;
$inverse-text: $teal-2;
$text: $teal-6;

// themed components
$containerBackgroundColor: $background;
$navColour: $background;
$navLabelsColour: $text;
$socialProofBackgroundColour: $teal-0;
$productBenefitsColour: $secondary;
$productFeatureColour: $background;
$testimonialsBackgroundColour: $secondary;
$ctaBackgroundColour: $background;
$buttonColour: $main;
